@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Raleway:wght@500&display=swap');

:root {
    --primary-color: #ACBED8;
    --secondary-color: #E8EBF7;
    --social-link-color:#ddd;
    --hero-background-color: steelblue;
    --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav a {
  text-align: center;
  color: #333;
  text-decoration: none;
  padding: 35px;
}


body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background-color: #ACBED8;
  color: var(--text-color);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

.social-link {
  text-decoration: none;
  }

.social-link a:hover {
  text-decoration: none;
}

.social-icon {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-right: 5px;
}

.header {
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
}

.footer {
  background-color: var(--secondary-color);
  padding: 20px 0;
  text-align: center;
}

  .hero {
    position: relative;
    width: 200%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #ddd;
  }
  
  .hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hero .content {
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: top;
    color: #ACBED8;
  }
  
  .hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
    transform: translate(-50%, -50%);
  }
  
  .hero article {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-top: 20px;
  }
  
  .hero article p {
    margin-top: 10px;
  }
  
  .hero article img {
    float: right;
    max-width: 150%;
    margin-left: 10px;
    height: 150px;
    border-radius: 50%;
  }
  