/* styles/rafting.css */

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    color: #fff;
    max-width: 1200px;
}
header {
    margin-bottom: 20px;
    padding: 10px;
    display:flex;
    background-color: #0d3b66;
    align-items: flex-end;
    text-align:left;
    justify-content: flex-start;
}

.header-grid {
    display:flex;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

.logo img {
    max-width: 20%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.Wulis_safari {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Wulis_safari h2 {
    color: #0d3b66;
}

.Wulis_safari img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
}

#company-info address {
    font-style: normal;
}

#employee-profiles .employee {
    text-align: center;
    margin: 20px;
}
#employee img {
    display:flex;
    width: 50%;
    height: auto;
    border-radius: 50%;
}
#contact-form button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display:grid;
    margin: 0 10px 0;
}
.history, .adventures {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.history h2, .adventures h2 {
    color: #0d3b66;
}

.adventures figure {
    display: inline-block;
    margin: 10px;
    width: 200px;
}

.adventures img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.adventures figcaption {
    text-align: center;
    margin-top: 5px;
    color: #0d3b66;
}

footer {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    display:flex;
    background-color: #0d3b66;
    text-align:end;
}
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: flex-end;
    justify-content: right;

}