/* Global Styles */
:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: #005f73;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.place-details, .weather {
    padding: 1rem;
}

.weather h3::after {
    padding-left: 10px;
}
.weather img {
    width: 50px; /* Set the size of the SVG */
    height: auto;
    vertical-align: middle; /* Align with the text */
    margin-left: 5px; /* Add space between text and icon */
}

@media screen and (max-width: 600px) {
    .weather img {
        width: 24px; /* Smaller icon for mobile */
    }
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #005f73;
    color: white;
}

/* Media Queries */
@media (min-width: 768px) {
    .place-info, .weather {
        display: flex;
        justify-content: right;
    }
}
/* Weather Section */
.weather {
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 600px; /* Optional to limit the width */
    margin: 0 auto;
}

/* Heading Style */
.weather h3 {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #333; /* Darker color for better contrast */
}

/* Weather Details Style */
.weather-details {
    display: grid;
    flex-direction: row;
    gap: 0.2rem; /* Space between weather details */
    font-size: 1rem;
    color: #333; /* Adjust text color for better readability */
    text-align: center; /* Center-align text for narrow screens */
}

/* For wider screens, arrange details in a row */
@media (min-width: 768px) {
    .weather-details {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }
}

